/*body {*/
  /*padding: 50px;*/
  /*font-family: system-ui; !* -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; *!*/
/*}*/

html {
  height: 100%;
}

body {
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

body {
  /* padding: 50px; */
  margin: 0;
  font-family: system-ui;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
